<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error!</title>
  </head>
  <body>
 <div id="content" class="flex justify-center items-start h-screen pt-20">
  <div class="bg-orange-100 border border-orange-400 text-orange-700 px-4 py-3 rounded relative mb-4" role="alert">
    <h2 class="font-bold text-lg">Error Occurred</h2>
    <p class="text-sm">Unfortunately, an error occurred while processing your request.</p>
  </div>
</div>
    <script></script>
  </body>
</html>
